<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PacsExplorer.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PacsExplorer.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <applicationSettings>
    <PacsExplorer.Settings>
      <setting name="ImageViewerPath" serializeAs="String">
        <value>C:\Program Files\MicroDicom\mDicom.exe</value>
      </setting>
    </PacsExplorer.Settings>
  </applicationSettings>
  <userSettings>
    <PacsExplorer.Settings>
      <setting name="ServerHost" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="QrServerAeTitle" serializeAs="String">
        <value>SERVER</value>
      </setting>
      <setting name="QrServerPort" serializeAs="String">
        <value>106</value>
      </setting>
      <setting name="StoreServerAeTitle" serializeAs="String">
        <value>SERVER</value>
      </setting>
      <setting name="StoreServerPort" serializeAs="String">
        <value>104</value>
      </setting>
      <setting name="ClientAeTitle" serializeAs="String">
        <value>CLIENT</value>
      </setting>
      <setting name="ClientPort" serializeAs="String">
        <value>1000</value>
      </setting>
    </PacsExplorer.Settings>
  </userSettings>
</configuration>